<a id="logo_big" title="John Doe" href="index.html"></a>
<div id="headline" class="left grid">
   <h1 id="name"></h1>
   <h2><span id="status">Web designer/ui designer</span><br /><a href="mailto:youremail@yourdomain.com" id="email">email@yourdomain.com</a></h2>
</div>
<div id="about_pict" class="grid"><img src="/public/img/my_picture.jpg" alt="Mihai Balea | Portfolio" /></div>
<div class="clear">&nbsp;</div>
<div class="left grid"></div>
<div class="left grid about_text">
   <p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin consectetur ante a pharetra. Aliquam sit amet lorem vitae tortor volutpat iaculis in sed erat. Sed a magna tortor, sit amet dapibus mi. Sed dictum volutpat dictum. Cras rhoncus ultrices lobortis.
   Pellentesque quis mauris et neque egestas mattis. Nunc congue dapibus lacus. Pellentesque aliquet suscipit pharetra. In dictum, nibh non mattis dapibus, purus sapien vulputate felis, at fermentum arcu dolor in ligula. Etiam adipiscing leo lacinia augue tincidunt eget porta mi bibendum.
   </p>
</div>
<div class="right grid about_text">
   <p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis volutpat felis quis suscipit. Fusce suscipit auctor urna quis mattis:
   <ul>
      <li><strong>Adobe Creative Suite</strong></li>
      <li><strong>Web Standards &amp; Accessibility</strong></li>
      <li><strong>CSS/HTML</strong></li>
      <li><strong>PHP/MYSQL</strong></li>
      <li><strong>JQuery</strong></li>
      <li><strong>Wordpress</strong></li>
   </ul>
   </p>
</div>
<div class="clear"></div>
<script type="text/javascript" src="/public/js/aboutMe.js"></script>
