<div id="logo" title="John Doe" class="site-message-absolute">
   <div class="nav_logo_w"></div>
</div>

<!-- ABOUT -->
<div id="about"></div><!-- end div #about -->
<div class="clear"></div>

<!-- WORK -->
<div id="work"> </div><!-- end div #work -->
<div class="clear"></div>

<!-- PROJECTS -->
<div id="projects"></div><!-- end div #projects -->
<div class="clear"></div>

<!-- CONTACT -->
<div id="contact"> </div><!-- end div #contact -->

<script type='text/javascript'>
$('#about').load('/views/aboutMe.html');
$('#work').load('/views/work.html');
$('#projects').load('/views/projects.html');
$('#contact').load('/views/contact.html');
</script>
